.search-div{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.input-search{
    font-size: 20px;
    font-style: italic;
    width: 100%;
    padding: 9px;
    box-shadow: inset 2px 2px 6px rgb(202, 202, 202); 
    border: 1px solid rgb(211, 211, 211);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
}

.input-search:focus{
    border: 1px solid rgb(102,175,233);
    box-shadow: 0 0 10px rgb(172, 234, 255),
    inset 2px 2px 6px rgb(202, 202, 202);
}


.find-btn{
    display: inline-block;
    font-weight: bold;
    background-color: rgb(255, 0, 150);
    color: white;
    padding: 12.5px;
    padding-left: 22px;
    padding-right: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}
